.main-border {
  font-family: "Space Mono", monospace;
  padding: 100px;
  text-align: center;
  background-color: rgb(220, 233, 220);
  height: 900px;
}
.title {
  text-align: center;
  /* position: relative; */
}
.container {
  width: auto;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  /* border: solid 1px red; */
  background-color: white;
  border-radius: 20px;
}
.left-container {
  text-align: left;
}
.bill-area {
  padding: 20px;
}
.input-bill {
  text-align: right;
  width: 100%;
  height: 30px;
  background-color: lightgray;
  border: none;
  border-radius: 7px;
  font-family: "Space Mono", monospace;
}
.select-area {
  text-align: left;
  padding: 20px;
}
.select-list {
  list-style: none;
  padding: 0;
}
.col {
  display: flex;
  justify-content: space-evenly;
}
.select-item {
  text-align: center;
  width: 80px;
  height: 40px;
  margin: 10px;
  /* border: 1px red solid; */
  background-color: green;
  color: white;
  font-size: large;
  font-family: "Space Mono", monospace;
  border-radius: 7px;
  border: none;
}
.input-custom {
  width: 70px;
  height: 40px;
  margin: 10px;
  padding-left: 10px;
  border: none;
  background-color: lightgray;
  font-size: large;
  border-radius: 7px;
  font-family: "Space Mono", monospace;
}
.people-area {
  padding: 20px;
}
.input-people {
  text-align: right;
  width: 100%;
  height: 30px;
  background-color: lightgray;
  border: none;
  border-radius: 7px;
  font-family: "Space Mono", monospace;
}
.alert {
  /* border: solid 1px red; */
  color: red;
  font-size: smaller;
}
.right-container {
  background-color: rgb(18, 63, 18);
  /* border: solid 1px red; */
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-right: 10px;
}
.result-tip {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.result-tip-title {
  color: white;
  border: solid 1px red;
  width: 100px;
  margin-right: 1rem;
  margin-left: 10px;
  height: 3rem;
  text-align: left;
}
.small-letter {
  font-size: 11px;
  color: rgb(147, 166, 184);
}
.tip-per-person {
  width: 200px;
  border: 1px solid red;
  color: rgb(182, 218, 182);
  font-size: xx-large;
  text-align: end;
  height: 3rem;
}
.result-total {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.result-total-title {
  color: white;
  border: solid 1px red;
  width: 100px;
  margin-right: 1rem;
  margin-left: 10px;
  height: 3rem;
  text-align: left;
}
.total-per-person {
  width: 200px;
  border: 1px solid red;
  height: 3rem;
  color: rgb(182, 218, 182);
  font-size: xx-large;
  text-align: end;
}
.reset-area {
  margin-top: 9rem;
  /* margin-bottom: 1rem; */
  margin-left: 1rem;
  margin-right: 1rem;
  /* width: 100%; */
  /* border: 1px solid red; */
}
.reset-button {
  font-family: "Space Mono", monospace;
  height: 40px;
  width: 100%;
  text-align: center;
  color: bisque;
  background-color: cadetblue;
  border-radius: 5px;
  border: none;
  font-size: large;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
